@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #000;
  background: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.input__container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.input__field, .input__label {
  margin: 0.5rem;
}